@import 'fonts.css';

@keyframes gradient {
  0% {
    background-position: 0%
  }

  100% {
    background-position: 100%
  }
}

@keyframes marquee {
  0% {
    transform: translateX(100vw);
  }

  100% {
    transform: translateX(-100%);
  }
}

@keyframes blink {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

:root {
  --body-text: sans-serif;
  --body-text-bold: sans-serif;
  --title: sans-serif;
  --subtitle: serif;
  --text-color: #000;
  --fade-in-effect: fadein 800ms;
  font-size: calc(1em + 0.5vw);
  font-family: var(--body-text);
  color: var(--text-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-animation: var(--fade-in-effect);
  -moz-animation: var(--fade-in-effect);
  -ms-animation: var(--fade-in-effect);
  -o-animation: var(--fade-in-effect);
  animation: var(--fade-in-effect);
}

::selection {
  color: white;
  background: var(--text-color);
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  touch-action: manipulation;
  scroll-behavior: smooth;
}

body {
  height: 100vh;
  width: 100vw;
}

header {
  position: absolute;
  left: 0;
  top: 0;
  background: white;
  border-right: 1px solid var(--text-color);
  z-index: 1;
  width: 2.4em;
  height: 100%;
}

header nav {
  margin: 0;
  height: 98%;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  writing-mode: vertical-rl;
  -webkit-writing-mode: vertical-rl;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  width: 100%;
}

header nav a {
  vertical-align: middle;
}

header nav a {
  text-decoration: none;
  color: var(--text-color);
  border: 1px solid white;
  border-radius: 1em;
  padding: 0.7em 0.125em;
}

header nav a:hover {
  border: 1px solid purple;
  border-radius: 1em;
  color: purple;
  padding: 0.7em 0.125em;
}

main {
  z-index: -1;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: center;
}

main section {
  flex-grow: 1;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

main section:first-child {
  border-bottom: 1px solid var(--text-color);
}

main section a {
  text-transform: uppercase;
  font-size: 7em;
  color: var(--text-color);
  text-decoration: none;
  width: 100%;
  height: 100%;
  text-align: center;
}

main section a:hover {
  background: var(--text-color);
  color: white;
}